@font-face {
   font-family: 'Faustina';
   font-style: normal;
   font-weight: 400;
   src: url(Faustina-Regular.woff) format('woff');
 }
@font-face {
   font-family: 'Faustina';
   font-style: normal;
   font-weight: 700;
   src: url(Faustina-Bold.woff) format('woff');
 }