


.C_tap{width:651px; height:280px; z-index:100005000;top:628px; left:80px;background-color:white;}
.C_tap.on{z-index:100006666;}
/*Match and Talk */
.C_tap .eg {position: relative;top:41px;left:150px; font:22px 'Faustina' ;line-height:2; float:left; padding-left:50px;}
.C_tap .eg:before {position: absolute; left:0; top:1px; content:"e.g."; font: 20px 'Noto Sans KR'; color:#595B60}
.C_tap .eg em { font:18px 'Faustina'; }
.C_tap .eg .blue {color:#0101ff;}
.C_tap .eg div > span{position: absolute;  top:24px; left:75px;  font-size:13px;  line-height: 41px;  color: #339900;width:400px;}

.C_tap .eg ul li:nth-of-type(2),
.C_tap .eg ul li:nth-of-type(3){margin-top: -5px;}


.select_name{position:absolute;cursor:pointer;}
#LT_1{top:597px;left:75px;}
#LT_2{top:605px;left:222px;}
#LT_3{top:602px;left:382px;}
#LT_4{top:607px;left:530px;}
.select_name span {position: absolute;font:15px 'Noto Sans KR' ;z-index:100008888}
.select_name#LT_1 span {}
.select_name#LT_2 span {}
.select_name#LT_3 span {}
.select_name#LT_4 span {}

/*팝업 스크립트*/
.script{ font-size:18px !important;}
.scriptPopup{min-width: 257px !important;min-height: 180px !important;padding:5px;background-color:white; box-shadow:2px 2px 3px #ccc;border:1px solid #ccc; border-radius:0px; }
.transText{left: 38px !important; font-size:14px !important;}
.scriptPopup.script_0{width:180px !important; left:-124px !important;}
.scriptPopup.script_1{width:395px; height:210px; left:-284px !important;}
.scriptPopup.script_1 .transText{left: 60px !important;}
.scriptPopup::-webkit-scrollbar-track
{
	
	border-radius: 10px;
	background-color:transparent;
	-webkit-transform:translateX(-20deg)
}
.scriptPopup::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}
.scriptPopup::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: #FFF;
}