@charset "utf-8";

.intro {background: url(../images/08/bg_lesson01.jpg) no-repeat 0 0; background-size: cover}
.lesson_num  {position: absolute; top:-33px; left:30px; display: block; width:120px; height: 184px;  text-align: center; background: url(../images/08/bg_lesson_1_num.png) no-repeat 0 100%; background-size: cover}
.lesson_num > div {margin-top:69px; margin-left:10px; transform: rotate(-9deg);}
.lesson_num span.cate {display: block; font:14px 'Noto Sans KR' ; color:#fff; letter-spacing:2px}
.lesson_num span.num {display: block; font: 88px 'Fredoka One'; color:#fff; line-height:1.0}

.lesson_tit {position: absolute; top:80px; left:165px;}
.img_txt_box {position: absolute; left: 270px; top: 309px; width:370px; height:119px; background:url(../images/08/bg_img_txt.png) no-repeat 0 0; background-size:cover; padding: 12px 0 0 20px; box-sizing: border-box;}
.img_txt_box h3 {font: 19px 'Bubblegum Sans' ; color:#FF6445; }
.img_txt_box p {font: 13px/1.7 'Nanum Gothic' ; color:#2B2E34; margin-top:3px}
.img_txt_box .eg {position: relative; font:15px 'Nanum Gothic' ;line-height: 1.7; float:left; padding-left:28px; }
.img_txt_box .eg .active:hover {color: #9a01cd; }
.img_txt_box .eg:before {position: absolute; left:0; top:3px; content:"e.g."; font: 13px 'Noto Sans KR';}

.sp_box {position: absolute; left: 30px; top: 502px; width:390px; height:500px; background: url(../images/08/bg_sp_box.png) no-repeat 0 0; box-sizing: border-box; padding:75px 70px 0; line-height: 1.8}

.sp_box h2{position: absolute; top:25px; left:156px; font: 17px 'Noto Sans KR'; color:#fff}
.sp_box h3 {font: 11px/2.2 'Nanum Gothic';}
.sp_box .stit {font: 13px 'Nanum Gothic'; color: rgb(255,74,35); font-weight: 700; margin-bottom:5px }
.sp_box .stit span {color:rgb(43,46,52); font-weight: 400;}
.sp_box .stit .listen {color: rgb(255,74,35); font-weight: 700;}
.sp_box ul li{font: 13px/1.8 'Nanum Gothic'; rgb(43,46,52);}
.sp_box em {font: 13px 'Noto Sans KR'; vertical-align: middle;}
.sp_box ul:last-child li em{ color:#0101ff;}
.sp_box ul li > span:hover{color: #9a01cd; }
.btn_list {position: absolute; right:50px; bottom:50px}
.btn_list button {display: block}
