div.correct {font: 12px 'Open Sans'; position: absolute; top: 318px; line-height: 39px;color: #339900;font-weight: bold;left: 158px; z-index:1000000000; display: none;}
.wpopup {position: absolute; width:67px; height:20px;  text-align: left; color:#339900; font: 12px 'Open Sans';font-weight: 700; display: none;font-weight: bold; z-index:1000000000;}
.pop_ask1 {left: 123px; bottom: 35px;}
.pop_ask2 {bottom: 35px;left: 210px;}
