@charset "utf-8";

/* layout */

.main_tit{display:inline-block;font-size:25px;font-weight: 600;letter-spacing: -0.5px;color:#fff;position:relative;left:50%;margin:10px -150px;transform:rotate(-2.5deg);font-family: "Open Sans Bold";}
.sub_tit{display:block;font-size:15px;letter-spacing: -0.5px;position:relative;left:50%;margin:5px -150px;width:320px;background:#B4DdC8;text-align:center;font-family: "Open Sans";}
.slider_area{height: 770px;margin: 0 auto;position: relative; width: 600px;}
.slider_area > .slider_content{width:1200px;position: relative;top:0;left:0;}
.slider_image_wrap{width:600px;position: relative;top:0;left:0;z-index:100;}
.slider_thumbnail_area { height: 765px; left: 50%; margin-left: -50%; overflow: hidden; position: relative; top:0; width: 50%;}
li{font-family: 'Nanum Gothic';font-size:14px;}

.slider_image > li{display:none;width:100%;position:absolute;left:0;top:0;}
.slider_image > li:nth-of-type(2){display:none;width:100%;position:absolute;left:600px;top:0;}
.slider_image > li.on{display:block;left:0;}

.slider_image article{position:relative;padding-left:20px;background: #fff;margin-top:15px;border-radius:15px;height:220px;}

.first {background: url(../images/09/bg_lesson01_p09.jpg) no-repeat 0 0; background-size: cover}
input[type="text"]{background-color: rgba(0,0,0,0);border-bottom:1px solid #6c6c6c;}
.ls_1_t1{width:90px;}
.ls_2_t1{width:42px;}
.ls_2_t2{width:42px;}
.ls_2_t3{width:42px;}
.p09_answer{display:inline-block;font-family: "Nanum Gothic";color:Red;}
.mar_lt{margin-left:16px;}
.mar_lt2{margin-left:21px;}
.mar_lt3{margin-left:125px;}
.mar_lt4{margin-left:159px;}
article dl{margin-top:5px;}
article dt{color:#fff;text-align: center;width:70px;background: url(../images/09/selfcheck_p09.png) no-repeat 0 0;background-size: 100% 100%;float:left;font-family: 'Nanum Pen';font-size:16px;}
article dd{display:inline-block;margin-left:5px;font-family: 'Nanum Gothic';font-size:12px;line-height:18px;}

li article h1{font-family: 'Bubblegum Sans';font-size:16px;letter-spacing: 1px;position:absolute;top:-10px;left:10px;color:#fff;display:inline-block;padding:0 8px;height:30px;line-height:30px;background: url(../images/09/p09_strapline.png) no-repeat 0 0;background-size: 100% 100%;}
.rol_01 article:first-of-type h1{transform:rotate(-3deg);}
.rol_01 article:nth-of-type(2) h1{transform:rotate(5deg);}
.rol_01 article:last-of-type h1{transform:rotate(1deg);}
.rol_02 article:first-of-type h1{transform:rotate(3deg);}
.rol_02 article:nth-of-type(2) h1{transform:rotate(-5deg);}
.rol_02 article:last-of-type h1{transform:rotate(2deg);}

li article h2{font-size:13px;font-family: 'Nanum Gothic';font-weight:bold;display:inline-block;margin-bottom:5px;margin-top:25px;}
.a_check{background:url(../images/09/a_check_bt.png) no-repeat 0 0;}
.a_replay{background:url(../images/09/replay_bt.png) no-repeat 0 0;}
.bg_icon button{display:block;width:25px;height:25px;position:absolute;top:22px;left:0;background-size:100%;}
.rol_01 article:nth-of-type(1) p button{left:143px;}
.rol_01 article:nth-of-type(2) p button{left:168px;}
.rol_01 article:nth-of-type(3) p button{left:400px;}
.rol_02 article:nth-of-type(1) p button{left:255px;}
.rol_02 article:nth-of-type(2) p button{left:324px;}
.rol_02 article:nth-of-type(3) p button{left:294px;}


textarea{ border: 1px solid #b4ddc8; border-radius: 10px; box-sizing: border-box; min-height: 120px; min-width:580px;max-height: 117px; max-width: 580px; padding: 5px; position: absolute;left: 10px; margin-top: 15px; width: 580px;}
article:nth-of-type(1) textarea{ min-height: 102px;max-height: 102px;}
article:nth-of-type(2) textarea{ min-height: 118px;max-height: 118px;}
li:nth-of-type(2) article:nth-of-type(3) textarea{ min-height: 120px;max-height: 120px;}

.slider_thumbnail_area ul {text-align: center;width:74px; position: relative; top:730px;left:50%;margin-left:-37px;}
.slider_thumbnail_area ul li {width: 20px; height: 20px; border: 1px solid #ddd; border-radius: 15px; background: url(../images/09/rol_p09_off.png) no-repeat 0 0; text-indent: -9999px; margin: 0 5px;cursor: pointer;display: inline-block;}
.slider_area .slider_thumbnail_area ul li.on { background: url(../images/09/rol_p09_on.png) no-repeat 0 0; border: 1px solid #fff;}
.slider_thumbnail_area ul li:last-child { margin-right: 10px;}
