@charset "utf-8";

/* layout */

.spl{position:relative;width:600px;margin:0 auto;overflow:hidden;height:930px;}
.spl > .slide_rol{width:1200px;position:absolute;top:0;left:0;}
.main_tit{display:inline-block;font-size:25px;font-weight: 600;letter-spacing: -0.5px;color:#fff;position:relative;left:25%;margin:63px -150px 0;transform:rotate(-2.5deg);}
.sub_tit{display:block;font-size:15px;letter-spacing: -0.5px;position:relative;left:25%;margin:13px -150px;width:300px;background:#B4DdC8;}
section{display:inline-block;width:50%;float:left;}
.rol article{position:relative;padding-left:20px;background: #fff;margin-top:15px;border-radius:15px;height:220px;}
.rol section article:first-of-type{margin-top:10;}

li{font-family: 'Nanum Gothic';font-size:14px;}


.first {background: url(../images/09/bg_lesson01_p09.jpg) no-repeat 0 0; background-size: cover}
input[type="text"]{background-color: rgba(0,0,0,0);border-bottom:1px solid #6c6c6c;}
.p09_answer input[type="text"]{border:none;}
.ls_1_t1_2{margin-left:13px;}
.blank_bl{margin-left:18px;}
.blank_bl1{margin-left:118px;}
.blank_bl2{margin-left:155px;}

.spl dl dt{color:#fff;text-align: center;width:70px;background: url(../images/09/selfcheck_p09.png) no-repeat 0 0;background-size: 100% 100%;float:left;font-family: 'Nanum Pen';font-size:16px;}
dd{display:inline-block;margin-left:5px;font-family: 'Nanum Gothic';font-size:12px;line-height:18px;}

.rol article h1{font-family: 'Bubblegum Sans';font-size:16px;letter-spacing: 1px;position:absolute;top:-10px;left:10px;color:#fff;display:inline-block;padding:0 8px;height:30px;line-height:30px;background: url(../images/09/p09_strapline.png) no-repeat 0 0;background-size: 100% 100%;}
.rol_01 article:first-of-type h1{transform:rotate(-3deg);}
.rol_01 article:nth-of-type(2) h1{transform:rotate(5deg);}
.rol_01 article:last-of-type h1{transform:rotate(1deg);}
.rol_02 article:first-of-type h1{transform:rotate(3deg);}
.rol_02 article:nth-of-type(2) h1{transform:rotate(-5deg);}
.rol_02 article:last-of-type h1{transform:rotate(2deg);}

.rol article h2{font-size:13px;font-family: 'Nanum Gothic';font-weight:bold;display:inline-block;margin-bottom:5px;margin-top:25px;}
input[type="button"]{display:none;}
.a_check{background:url(../images/09/a_check_bt.png) no-repeat 0 0;}
.a_replay{background:url(../images/09/replay_bt.png) no-repeat 0 0;}
.bg_icon label{display:block;width:25px;height:25px;position:absolute;;top:22px;left:0;left:0;background-size:100%;}
.rol_01 article:nth-of-type(1) p label{left:135px;}
.rol_01 article:nth-of-type(2) p label{left:160px;}
.rol_01 article:nth-of-type(3) p label{left:390px;}
.rol_02 article:nth-of-type(1) p label{left:245px;}
.rol_02 article:nth-of-type(2) p label{left:312px;}
.rol_02 article:nth-of-type(3) p label{left:282px;}


textarea{border:1px solid red;width:580px;position:absolute;left:10px;margin-top:10px;height:120px;}


.slide_bt_09{position:absolute;bottom:30px;left:50%;width:50px;margin-left:-25px;}
.rolling_bt{display:none;}
.rolbtn{background:url(../images/09/rol_p09_off.png) no-repeat 0 0;width:20px;height:20px;display:block;float:left;margin-right:10px;}
.rolbtn2{margin-right:0;}
