.part_las {background: url(../images/10/bg_lesson01_10.jpg) no-repeat 0 0; background-size: cover}

/*listen&speak 공통*/
.page_tit {margin:10px}
.page_tit .t1 , .page_tit .t2 {font-family: "fredoka one"; font-size:34px}
.page_tit .t1 {color:#7c2424}
.page_tit .t2 {color:#c82d49}
.page_tit .t2 .num{color:#000}
.page_tit .tand {font-family: "Nanum Gothic"; font-size:20px; font-weight: 700; width:25px; height:27px; background: url("../images/10/and.png") no-repeat 0 0; display: inline-block; color:#fff; text-align:center}

.info {position: absolute; top:70px; right:55px; display: inline-block; width: 139px; height: 37px;padding:12px 0 0 50px; background: url(../images/11/Study_point.png) no-repeat 0 0;  font:11px 'Nanum Gothic'; box-sizing: border-box; font-size: 9px; background-size:contain}
.info>p{position: absolute; top: 10px; left: 45px; font-size:12px; font-weight:bold}

.part_las .sub_tit {font:30px "Bubblegum Sans"; margin-top:30px; }
.part_las .sub_tit img { vertical-align: top;}
.part_las .sub_tit span {font:20px "Noto Sans KR"; margin-left:10px; font-weight:bold;
    position: relative; top:-2px}
.part_las .sub_tit .audio_tit{font:30px "Bubblegum Sans"; margin-top:30px;
    position: relative; top:-3px ; left:-3px}

.part_las .img_content {position: relative; padding:35px 0 0 42px}
.part_las .textbox {font:17px "Nanum Gothic"; text-align: center; line-height: 1.5; font-weight: 700}

/*Warm up */
.part_las .wp_text01 {position: absolute; top: 57px; left: 84px;}
.part_las .wp_text02 {position: absolute; top: 96px; left: 491px; color:#FF0000;}
.part_las .wp_input01 {position: absolute; top: 65px; left: 470px; width: 141px; background: transparent; border: none;}
input.wp_input01:focus{outline: none;}

/*Lsten and Check  */
.section02 .num {position: absolute; font:19px "Noto Sans KR";}
.section02 .num:nth-of-type(1) {top: 30px; left: 25px;}
.section02 .num:nth-of-type(2) {top: 30px; left: 352px}
.section02 label:nth-of-type(1) {top: -121px; left: 245px;}
.section02 label:nth-of-type(2) {top: -121px; left: 535px;}
.section02 label:nth-of-type(3) {top: -53px; left: 157px;}
.section02 label:nth-of-type(4) {top: -53px; left: 447px;}

/*Match and Talk */
.part_las .eg {position: relative; font:20px 'Faustina' ;line-height: 1.7; float:left; padding-left:35px; letter-spacing: 0.5px}
.part_las .eg:before {position: absolute; left:0; top:5px; content:"e.g."; font: 17px 'Noto Sans KR'; color:#595B60}
.part_las .eg em { font:18px 'Faustina'; }
.part_las .eg .blue {color:#0101ff;}
.part_las .eg div > span{position: absolute;  top: 18px;  font-size: 11px;  line-height: 30px;  color: #339900;}

.select_area {position: absolute; left:40px; top:28px}
.select_name {position: absolute; width:120px; height:120px; top:0}
.select_name:nth-of-type(1) {left:0px}
.select_name:nth-of-type(2) {left:153px}
.select_name:nth-of-type(3) {left:321px}
.select_name:nth-of-type(4) {left:483px}
.select_name span {position: absolute;font:15px 'Noto Sans KR' ;}
.select_name:nth-of-type(1) span {top: 63px; left: 67px; }
.select_name:nth-of-type(2) span {top: 58px; left:76px; }
.select_name:nth-of-type(3) span {top:56px; left:75px; }
.select_name:nth-of-type(4) span {top:55px; left:66px; }
.select_name:hover span {color:#a14796}

.target_sentence {position: absolute;left: 32px; bottom: 35px;;padding: 1px;}
.target_sentence span {position: absolute; top:0; display: inline-block; width: 110px; font:17px "Noto Sans KR";}
.target_sentence span:nth-of-type(1) {left:23px}
.target_sentence span:nth-of-type(2) {left:185px}
.target_sentence span:nth-of-type(3) {left:345px}
.target_sentence span:nth-of-type(4) {left:495px}

.btn_tip {position: relative; top: 7px; display: inline-block; width:37px; height:21px; background: url(../images/common/tip.png) no-repeat 0 0; text-indent: -1000em; overflow: hidden; margin-right:5px}
.tip_con {font:13px "Noto Sans KR";}

/*!*슬라이더*!*/
/*.slider_image_wrap .slider_image > li {*/
    /*display: none;*/
/*}*/

/*.slider_image_wrap .slider_image li.on {*/
    /*display: block;*/
/*}*/
/*.slider_thumbnail_area {position: absolute; left:0; bottom:100px; width:100%;}*/
/*.slider_thumbnail {text-align:center}*/
/*.slider_thumbnail button {display: inline-block; width:20px; height:20px; text-indent:-999em; overflow: hidden; background: url(../images/common/slide_bt_off.png) no-repeat 0 0; margin:0 5px}*/
/*.slider_thumbnail button.on {background: url(../images/common/slide_bt_on.png)}*/