@charset "utf-8";
/* CSS Document */


/* layout */
.wrapper{/*background:url(../images/12/12_5_001.png) no-repeat 0 0;*/ background-size: cover;border:1px solid yellow;}



.page_tit{width: 235px; height: 70px;margin-top:-45px;margin-left:-53px;}

/*  container_wrap  */
.header_wrap{position: relative; width: 660px;}
.sub_tit1{margin-top:41px;}
.sub_tit1 img{width: 25px; height: 26px;}
.A_tit{font-family: 'Bubblegum Sans'; font-size: 22px;}
.one{width:115px; height:25px;}

/* container_wrap */
.container_wrap{border:1px solid red;margin-top:50px;}
.container_inner{}
.content_1{border:1px solid #000;text-align:center;position:relative;left:50%;width:400px;margin-left:-200px;}
.content_1 span{position:absolute;right:25px;bottom:15px;cursor: pointer;}
.content_2{border:1px solid #a6d8e5;}
