@charset "utf-8";

/* 배경 */
.intro {background: url("../images/13/bg_lesson01_13.jpg") no-repeat 0 0; background-size: cover}
.p13_ct {position: absolute; display: block; top: 43px; content: url("../images/13/lesson_1_p13_ct.png");}

/* Step 1 */
.p13_step1_list {text-align: center;}
#p13_step1_list_a {position: absolute; display: block; top: 55px; left: 170px; width: 27px; height: 25px; background: url("../images/13/lesson_1_p13_step1_a.png") no-repeat 0 0; background-size: cover}
#p13_step1_list_b {position: absolute; display: block; top: 130px; left: 170px; width: 27px; height: 25px; background: url("../images/13/lesson_1_p13_step1_b.png") no-repeat 0 0; background-size: cover}
#p13_step1_list_c {position: absolute; display: block; top: 210px; left: 170px; width: 27px; height: 25px; background: url("../images/13/lesson_1_p13_step1_c.png") no-repeat 0 0; background-size: cover}
.p13_step1 {position: absolute; top: 130px;}
.p13_step1 p {padding: 16px; margin-left: 200px; font-family: "Faustina"; font-size: 16px;}

/* Step 2 + Step 3 */
.p13_step2_3 {position: absolute; top: 460px;}
.p13_step2_3 > img {margin-top: 40px; margin-left: 20%;}

/* Self Check */
.p13_self_check {position: absolute; display: block; width: 7%; top: 880px; left: 70px; content: url("../images/13/lesson_1_p13_self_check.png");}
.p13_self_check + p {font-family: "Nanum Gothic"; font-size: 11px; line-height: 23px; position: absolute; display: block; top: 910px; left: 135px;}
.p13_self_check_pen {position: absolute; top: 910px; left: 450px;}
#p13_self_check_pen_1_1 {position: absolute; display: block; width: 31px; height: 12px; top: 913px; left: 467px; background: #FF0000; opacity: 0;}
#p13_self_check_pen_1_2 {position: absolute; display: block; width: 31px; height: 12px; top: 913px; left: 499px; background: #FF0000; opacity: 0;}
#p13_self_check_pen_1_3 {position: absolute; display: block; width: 31px; height: 12px; top: 913px; left: 531px; background: #FF0000; opacity: 0;}
#p13_self_check_pen_1_4 {position: absolute; display: block; width: 31px; height: 12px; top: 913px; left: 563px; background: #FF0000; opacity: 0;}
#p13_self_check_pen_1_5 {position: absolute; display: block; width: 31px; height: 12px; top: 913px; left: 595px; background: #FF0000; opacity: 0;}
#p13_self_check_pen_2_1 {position: absolute; display: block; width: 31px; height: 12px; top: 940px; left: 467px; background: #0101ff; opacity: 0;}
#p13_self_check_pen_2_2 {position: absolute; display: block; width: 31px; height: 12px; top: 940px; left: 499px; background: #0101ff; opacity: 0;}
#p13_self_check_pen_2_3 {position: absolute; display: block; width: 31px; height: 12px; top: 940px; left: 531px; background: #0101ff; opacity: 0;}
#p13_self_check_pen_2_4 {position: absolute; display: block; width: 31px; height: 12px; top: 940px; left: 563px; background: #0101ff; opacity: 0;}
#p13_self_check_pen_2_5 {position: absolute; display: block; width: 31px; height: 12px; top: 940px; left: 595px; background: #0101ff; opacity: 0;}

/*슬라이더*/
.slider_image_wrap .slider_image > li {
    display: none;
}

.slider_image_wrap .slider_image li.on {
    display: block;
}
.slider_thumbnail_area {position: absolute; bottom: 180px; margin-left: 37%;}
.slider_thumbnail {text-align:center}
.slider_thumbnail a {display: inline-block; width:20px; height:20px; text-indent:-999em; overflow: hidden; background: url(../images/common/slide_bt_off.png) no-repeat 0 0; margin:0 5px}
.slider_thumbnail a.on {background: url(../images/common/slide_bt_on.png)}
