@charset "utf-8";

/* 배경 */
.intro {background: url(../images/15/bg_lesson01_15.jpg) no-repeat 0 0; background-size: cover}

/*  Reading Time Title*/
.page_tit {position: absolute; display: block; width: 155px; height: 41px; top: 30px; left: 70px; background: url("../images/15/lesson_1_p15_reading_time.png") no-repeat 0 0; background-size: contain}
.info {position: absolute; top: 60px; left: 235px; font-size: 11px;}
.btn_play {position: absolute; display: block; width: 25px; height: 25px; top: 55px; left: 560px; background-size: cover;}

/* 본문 */
.reading_time_title {position: absolute; width: 600px; height: 210px; top: 80px; left: 70px;}
.section > p {font: 19px 'Faustina'; position: absolute; top: 310px; left: 150px; line-height: 38px;}
.section > p.correct {font: 11px 'Open Sans'; font-weight: 700; position: absolute; top: 330px; line-height: 38px; display: none;}

.btn_mp3_a {position: relative; display: block; float:left; width: 25px; height: 25px; top: 230px; left: 100px; background-size: cover;}
.btn_trans {position: relative; display: block; float:left; width: 25px; height: 25px; top: 230px; left: 110px; background-size: cover;}

/* Ask And Answer */
.ask_and_speak {position: absolute; top: 890px; left:53px; font-family: 'Open Sans'; font-size: 13px; }
.ask_and_speak > p{position:absolute;top:30px; left: 170px;}
.ask_and_speak > p input[type="text"]{display:none;}
.ask_and_speak>h3 {position: absolute; width: 200px;  left: 0px; top:30px; }
.ask_and_speak>h3>b{font-family: 'Noto Sans KR'; font-size: 13px; color: #FF4A23; padding-right: 5px;}
.ask_and_speak > input {position: relative; display: inline-block; top: 29px; left: 45px; vertical-align: baseline;}

.aa_title {position: relative; display: block; float:left; width: 100px; height: 16px; margin-bottom: 10px; background: url("../images/15/lesson_1_p15_aa_title.png") no-repeat 0 0; background-size: cover}

.btn_answer + p {position: absolute; display: block; top: 25px;}
.btn_answer + p + span {position: absolute; color: #FF4A23; size: 13px;}

.ask {position: absolute; top: 25px;}
.ask li {display: inline-block; position: relative; margin-right: 10px; margin-top: 0; top: 40px;}
.aa_ask1 {position: relative; display: block; top: 50px; left: 10px;}
.aa_ask2 {position: relative; display: block; top: 50px; left: 30px;}

.answer {position: absolute; top: 50px; height: 30px;}
.answer li {display: inline-block; position: relative; }
.aa_answer1 {left: -10px;  }
.aa_answer2 {left: -6px;}
.btn_list {position: relative; top:-5px; margin-left:10px}

.balloon {display: inline-block; position: relative; background: #D0D0D0; padding: 5px 30px 5px; text-align: center; margin: 0 auto 10px;}
.balloon:after {content: ''; position: absolute; border-top: 10px solid #D0D0D0; border-right: 5px solid transparent; border-left: 5px solid transparent; bottom: -9px; left: 50%; margin-left: -5px;}

.btn_word {position: relative; display: block; float:left; width: 118px; height: 50px; top: 850px; left: 488px; background-size: cover;}
.pg_Num p{color:#333;}

/* ask & answer */
#aa_input {width: 120px; padding: 3px; background: rgba(255,255,255,0.3); margin-top: -2px; border: 1px solid #999; display: none}
#aa_aws {position: absolute;  top: 64px; left: 248px; width:80px; color:#f00; display: none; z-index: 999}

.wpopup {position: absolute; width:67px; height:20px;  text-align: left; color:#339900; font: 11px 'Open Sans';font-weight: 700;}
.pop_ask1 {top:86px; left:19px;}
.pop_ask2 {top:86px; left:117px;}
