@charset "utf-8";

.part_lu {background: url(../images/19/bg_lesson01_19.jpg) no-repeat 0 0; background-size: cover}

.page_tit {margin: 10px;}
input[type="text"] {position: relative;}
.inbutBox {border-bottom:1px solid #6c6c6c; padding:0 0 3px 0; font:16px/1.3 'Faustina'; width:100px; vertical-align:baseline}
.sentence {display: block; white-space: nowrap;  font:16px/1.3 'Faustina';}
.sentence em {font:14px 'Noto Sans KR';}
.icon_tb {display: inline-block; font:11px 'Bubblegum Sans';width: 45px;height: 15px;line-height: 13px; background: url(../images/19/icon_tb.png) no-repeat 0 0; color:#fff; padding:4px 0 0 8px}

.part_lu .section {position: relative; padding:0 40px; }
.part_lu .section h2 {position: absolute; top:0; left:0}
.part_lu .section h3 {font:13px 'Noto Sans KR'; margin-top:13px;}
.part_lu .section .tk_box{margin-top:18px;}
.part_lu .section .top_area {position: relative; background:#fff6e8; border-radius: 10px; padding-bottom:10px; overflow: hidden}
.part_lu .section .top_area > div {font:14px/2.2 'Nanum Gothic'; padding:25px 40px; width:50%; box-sizing: border-box; }
.part_lu .section .top_area:after {position: absolute; top:32px; left:50%; content:''; display: block; height: 100px; width: 1px; background:#e1bb8c;}
.part_lu .section .top_area .sentence {line-height: 1.7}

.part_lu .info{position: relative; top: -17px; left: 22px; font:12px 'Nanum Gothic'; width:560px;  padding:10px 20px 0 57px; box-sizing: border-box; line-height: 1.5}
.section1 .info {height:39px; background: url(../images/19/bg_notice.png) no-repeat 0 0;}
.section2 .info {height:55px; background: url(../images/19/bg_notice_02.png) no-repeat 0 0;}

.part_lu .word_box {width:386px; padding:14px 25px; background:#f1f7e7; border-radius: 30px; overflow: hidden; margin:0 auto}
.word_box li{float:left; font:14px 'Noto Sans KR'; width:16.5%; text-align: center}

.img_content > div:after  {content: "";display: block; clear: both;}
.img_content .num {float:left; font: 16px "Noto Sans KR";}
.img_content .num + img {float:left; margin-left:10px}
.img_content .sentence_box {float:left; margin:5px 0 0 40px;}
.img_content .sentence_box .sentence {position: relative; margin-bottom: 8px;}

#byr_b_a1 ,#byr_b_a2,#byr_b_a3,#byr_b_a4,#byr_b_a5,#byr_b_a6 {position:absolute; top:0; margin-left:15px}

.txt_content {width:100%;padding:10px 20px 25px; border: 1px solid #b4ddc8; border-radius: 10px; margin-top:25px; box-sizing:border-box}
.txt_content li .sentence {font:16px/2.2 'Nanum Gothic'; }
.txt_content li .sentence:nth-of-type(2)  {margin-left:20px;}
.txt_content input {width:490px; text-align: left; border-bottom: 1px solid #b4ddc8; line-height: 1.6}
.txt_content em {margin-right: 5px;}


/*슬라이더*/
/*.slider_image_wrap .slider_image > li {display: none;}*/
/*.slider_image_wrap .slider_image li.on {display: block;}*/

/*.slider_thumbnail_area {position: absolute; left:0; bottom:130px; width:100%;}*/
/*.slider_thumbnail {text-align:center}*/
/*.slider_thumbnail button {display: inline-block; width:20px; height:20px; text-indent:-999em; overflow: hidden; background: url(../images/common/slide_bt_off.png) no-repeat 0 0; margin:0 5px}*/
/*.slider_thumbnail button.on {background: url(../images/common/slide_bt_on.png)}*/

.slider_thumbnail_area {position: absolute; left:0; bottom:130px; width:100%;}

button.btn_bochung,
button.btn_simhwa{position:absolute; display:inline-block;width:37px;height:28px;background-size:cover;cursor: pointer;text-indent:-9999px;bottom:80px;}
button.btn_bochung{background-image: url("../images/23/05.png");left:53px;}
button.btn_simhwa{background-image: url("../images/23/06.png");left:100px;}

/*닫기버튼*/
.btn_close {position: absolute; top: 15px; right: 10px;width:16px; height:16px; padding:15px;  background: url(../images/self_review/btn_close.png) no-repeat center; overflow: hidden; text-indent: -999em; z-index: 9999}

/*보충&심화*/
.bo {
    position: absolute; top:0; left:0;
    padding-top:24px; background: #fff url(../images/23/bo_bg.png) no-repeat 0 0; background-size: cover;display:none;}
.bo h1.bs_page_tit img{ margin-left:60px; margin-top:33px;}

.bo_wrap{position: relative; background-color:#f5f9fd;margin-top:55px;border-radius:18px;padding:25px 20px 45px 20px;  font-family: 'Nanum Gothic'; font-size: 15px; font-weight: 500;}
.bo_wrap .subtit_wrap{overflow:hidden;}
.bo_wrap .subtit_wrap img,
.bo_wrap .subtit_wrap p{float:left; font-weight: 600; }
.bo_wrap .subtit_wrap img{margin-right:10px;}

.sim h1.bs_page_tit img{margin-left:60px;margin-top: 33px;}

.sim {
    position: absolute; top:0; left:0;
    padding-top:24px; background: #fff url(../images/23/sim_bg.png) no-repeat 0 0; background-size: cover;display: none;}

.sim_wrap{position: relative; background-color:#faf7f4;margin-top:55px;border-radius:18px;padding:25px 20px 45px 20px;  font-family: 'Nanum Gothic'; font-size: 15px; font-weight: 500;}
.sim_wrap .subtit_wrap{overflow:hidden;}
.sim_wrap .subtit_wrap img,
.sim_wrap .subtit_wrap p{float:left; font-weight: 600;}
.sim_wrap .subtit_wrap img{margin-right:10px;}


.bo_4 .bo_wrap{height: 150px;}
ul.bo_Q_4{padding-left: 32px;}
ul.bo_Q_4 li{line-height: 15px;}
input[type="radio"] + label{font-size:15px;padding:10px; margin:0;}
input[type="radio"] + label::before{display: none;}
input[type="radio"]:checked + label{color:red;}

.answer_check{width:50px; height:30px; background:url("../images/23/dfs.png") no-repeat;background-size:cover; position: absolute;}
.bo_4 .answer_check#a_c_1{top:55px; left:200px; }
.bo_4 .answer_check#a_c_2{top:90px; left:186px; }
.bo_4 .answer_check#a_c_3{top:125px; left:83px; }
.bo_4 .answer_check#a_c_4{top:160px; left:269px; }

.sim_4 .sim_wrap{height:370px;}
ul.sim_4_A{padding-left: 34px;margin-top: 20px;}
ul.sim_4_A li{}
ul.sim_4_A li input{border-bottom:1px solid black;margin:10px 0 32px 5px; width:320px;font-family: 'Nanum Gothic'; font-size: 15px;text-align: left;padding-left: 5px;}
ul.sim_4_A li span::after{content:"";display:inline-block;width:17px;height:22px;background:url('../images/23/0001.png') no-repeat;background-size:contain;margin-left:19px;}
input[type='text']#sim_4_1{}
input[type='text']#sim_4_2{}
input[type='text']#sim_4_3{}
input[type='text']#sim_4_4{}
.sentence_sim4{font-family: 'Nanum Gothic'; font-size: 15px;color:red;position: absolute;}
#sentence1{top:125px;left:98px;}
#sentence2{top:212px;left:98px;}
#sentence3{top:300px;left:98px;}
#sentence4{top:387px;left:98px;}

.bo_5 .bo_wrap{height: 150px;}
ul.bo_Q_5{padding-left: 32px;position:relative;}
ul.bo_Q_5 li{line-height: 15px;}
input[type="radio"] + label{font-size:15px;padding:10px; margin:0;}
input[type="radio"] + label::before{display: none;}
input[type="radio"]:checked + label{color:red;}

.answer_check{width:50px; height:30px; background:url("../images/23/dfs.png") no-repeat;background-size:cover; position: absolute;}
.bo_5 .answer_check#a5_c_1{top: 55px; left:126px;}
.bo_5 .answer_check#a5_c_2{top:90px; left:220px;}
.bo_5 .answer_check#a5_c_3{top:125px; left:90px;}
.bo_5 .answer_check#a5_c_4{top:160px; left:75px;}

.sim_5 .sim_wrap{height:390px;}
ul.sim_5_A{padding-left: 34px;margin-top:15px;}
ul.sim_5_A li{line-height:30px;padding-bottom: 30px;}
ul.sim_5_A li:nth-of-type(3){margin-bottom:20px;}
ul.sim_5_A li input{border-bottom:1px solid black;margin-left:2px; width:305px;font-family: 'Nanum Gothic'; font-size: 15px;text-align: left;padding-bottom:2px;}
ul.sim_5_A li span{margin-left:19px;}
input[type='text']#sim_5_1{}
input[type='text']#sim_5_2{}
input[type='text']#sim_5_3{}
input[type='text']#sim_5_4{}
.sentence_sim5{font-family: 'Nanum Gothic'; font-size: 15px;color:red;position: absolute;}
#sentence1_5{top:127px;left:92px;}
#sentence2_5{top:214px;left:92px;}
#sentence3_5{top:304px;left:92px;}
#sentence4_5{top:415px;left:92px;}
