@charset "utf-8";

/* layout */
.first{background:url(../images/22/bg_22p.jpg) no-repeat 0 0;}
h1.page_tit{display:block;text-indent:-9999px;overflow:hidden;width:322px;height:53px;background:url(../images/22/page_tit_22p.png) no-repeat 0 0;}
.section2{margin-top:90px;position:relative;}

.wrapper .section h2{margin-top:5px;font-family: 'Nanum Gothic';font-size:15px;}
.bt_22{display:inline-block;position:absolute;top:110px;left:470px;}
.tip_area{position:absolute;left:53px;}
.transfer{line-height:15px;position:absolute;top:8px;left:50px;width:300px;display:none;}
/* 문제1 */
.Q_area{margin-left:375px;margin-top:44px;display:inline-block;}
.Q_area li{font-family: 'Faustina';font-size:17px;line-height:17px; height:21px }
.Q_area li input[type="text"]{background:rgba(0,0,0,0);border-bottom:1px solid #a9a9a9;width:41px;font-family: 'Faustina';font-size:17px;line-height:17px;}
.Q_area li:nth-of-type(3) input[type="text"]{width:71px;}
.Q_area li:nth-of-type(5) input[type="text"]{width:90px;}
.Q_area li:nth-of-type(7) input[type="text"]{width:61px;}
.Q_area li:nth-of-type(9) input[type="text"]{width:61px;}
.Q_area .ft_red{color:red;display:none;margin-left:0;line-height:16px;}
.Q_area li:nth-child(2){margin-left:110px;}
.Q_area li:nth-child(4){margin-left:70px;}
.Q_area li:nth-child(6){margin-left:120px;}
.Q_area li:nth-child(8){margin-left:40px;}
.Q_area li:nth-child(10){margin-left:83px;}


/* 문제2_선긋기 */
.section2>div:nth-of-type(1){margin-left:100px;}
.section2 h1{font-family: 'Noto Sans KR';font-size:22px;color:#fff;display:inline-block;margin-left:30px;margin-top:38px;}
.section h1 strong{font-size:27px;}
.section2 h2{position:absolute;left:245px;top:85px;}
.section2 h2 span{display:block;}
.btn_lang{position:absolute;right:167px;top:113px;}

.bonjour_txt{background:url(../images/22/bonjour_22p.png) no-repeat 50% 0;}
.hello_txt{background:url(../images/22/hello_22p.png) no-repeat 50% 0;}
.annyeong_txt{background:url(../images/22/annyeong_22p.png) no-repeat 50% 0;}
.guten_txt{background:url(../images/22/guten_22p.png) no-repeat 50% 0;}
.konni_txt{background:url(../images/22/konni_22p.png) no-repeat 50% 0;}
.dot_Num1 li{float:left;width:110px;height:80px;background-size: 110px ;text-align: center;font-family: 'Faustina';font-size:15px;font-weight:700;}
.dot_Num1 li:nth-child(4),.dot_Num1 li:nth-child(5){width:120px;height:90px;background-size: 120px ;}
.dot_22p{display:inline-block;width:110px;height:80px;background-size: 17px;padding-top:18px;}
.dot_22p_1{padding-top:17px;background-position: 50% 98%;}
.dot_22p_2{padding-top:27px;padding-left:3px;background-position: 49% 88%;}
.dot_22p_3{padding-top:20px;background-position: 50% 95%;}
.dot_22p_4{padding-top:24px;padding-left:3px;background-position: 49% 91%;}
.dot_22p_5{line-height:18px;padding-top:20px;}
.dot_Num1 li{float:left;width:110px;height:80px;background-size: 110px ;text-align: center;font-family: 'Faustina';font-size:15px;font-weight:700;}
.dot_Num1 li:nth-child(4),.dot_Num1 li:nth-child(5){width:120px;height:90px;background-size: 120px ;}

/*팝업*/
.pop_up_22{position:absolute;bottom:-155px;}
.pop_up_22 p{display:none;position:absolute;top:-8px;left:30px;width:350px;height:35px;line-height:35px;background:rgba(255,255,255,0.9);border:2px solid #afceec;border-radius:17px;text-align:center;}


/*선긋기 css*/
.line-content {position: relative; width:100%; height:175px; margin-top:20px; }
.dot {position: absolute; width: 18px; height: 18px;  border-radius: 50%; background: #bdbdbd; text-align: center;}
.drawBox, .dropBox {position: absolute;; width: 30px; height: 30px; }

.dot .hold {position: relative; display: inline-block;padding: 6px 6px;border-radius: 50%;background: #8e73ad;}
.dot .ans {position: relative;  display: inline-block;padding:  6px 6px;border-radius: 50%;	background: #000;}

.contentContainer {height: 190px;z-index: 1000;}

/* dragLine */
.svgContainer {position: absolute;	top: 0;	left: 0; width: 100%; height: 100%;	z-index: -1;}
.svgContainer path {stroke: #8e73ad;stroke-width: 4px;}

