@charset "utf-8";

/* layout */
.wrapper{}
.slider_area{margin: 0 auto;position: relative; width: 660px;height:840px;}
.slider_content{width:660px;height:770px;position: relative;top:0;left:0;}
.slider_image_wrap{position: relative;top:0;left:0;z-index:100;height:770px;}
.wrapper > h1{background:url("../images/23/popup/main_tit.png") no-repeat 0 0;height:70px;font-size:22px;font-family: 'Fredoka One';color:#fff;padding-left:35px;line-height: 60px;margin-top:-15px;margin-bottom:30px;}
.wrapper > a{display:inline-block;position:absolute;top:10px;right:10px;}
.sliderNum_1{display:none;}
.sliderNum_2{display:none;}
.all_Slide.on {display: block}

/* slider_제목/소제목 */
.all_Slide{position:absolute;top:0;left:0;width:100%;height:100%;background:#faf7f4;padding:40px;box-sizing: border-box;border-radius: 15px;}
.all_Slide h1{display:inline-block;background:#f8d7a3;color:#000;font-size:16px;height:30px;width:200px;line-height:28px;padding:0 15px 0 30px;position:relative;border:none;border-radius:15px;font-weight:800;font-family: 'Noto Sans KR';font-weight: 300;margin-bottom:30px;}
.all_Slide h1 span{display:inline-block;background:#ea5703;color:#fff;font-size:20px;height:35px;width:35px;text-align:center;line-height:33px;position:absolute;top:50%;margin-top:-17px;left:-10px;border:none;border-radius:35px;font-family: 'Noto Sans KR';font-weight: 800;}
.all_Slide h2{display:inline-block;position:absolute;left:72px;top:100px;}
.all_Slide > button{display:inline-block;position:absolute;left:243px;top:98px;}
.sliderNum_2 > button{display:inline-block;position:absolute;left:303px;top:98px;}

/* sliderNum_1 */
/* sliderNum_1 > content_1 */
.content_1{width:585px;height:277px;margin-top:50px;}
.content_1 > ul{}
.content_1 > ul > li{background:#d6a784;border:none;border-radius:10px 10px 0 0;text-align:center;padding:4px 40px;color:#fff;font-size:16px;font-family: 'Noto Sans KR';font-weight:normal;display:inline-block;margin-right:8px;}
.content_1 > ul > li:nth-of-type(3){padding: 4px 139px;margin-right: 0;}

.content_1 dl.tbody{position:relative;width:585px;}
.content_1 dl.tbody dt{width: 107px;text-align:center;height:40px;line-height:40px;border-bottom:3px solid #f9e9cf;padding-right:480px;}
.content_1 dl.tbody dt p{width:20px;height:20px;line-height:19px;color:#fff;font-size:13px;display:inline-block;background:#f3bc00;border-radius:10px;font-weight: bold;}
.content_1 dl.tbody dd{position:absolute;left:72px;top:0;}
.content_1 dl.tbody dd:nth-of-type(2){top:42px;}
.content_1 dl.tbody dd:nth-of-type(3){top:86px;}
.content_1 dl.tbody dd:nth-of-type(4){top:129px;}
.content_1 dl.tbody dd:nth-of-type(5){top:172px;}
.content_1 dl.tbody dd:nth-of-type(6){top:215px;}

.content_1 dl.tbody dd > ul{margin-left: 38px;}
.content_1 dl.tbody dd > ul > li {display: inline-block;width: 100px;margin-left: 15px;height:40px;line-height: 40px;}
.content_1 dl.tbody dd > ul > li:nth-of-type(1){font-weight:800;}
.content_1 dl.tbody dd > ul > li:nth-of-type(2){width: 340px;font-size:12px;padding-left:10px;box-sizing: border-box;}
.content_1 dl.tbody dd > ul > li ul{margin-left:2px;display: inline-block;width:100%;}
.content_1 dl.tbody dd > ul > li ul li{display: inline-block;width:48%;text-align:center;}

/* sliderNum_1 > content_2 */
.content_2{margin-top:50px;}
.all_Slide textarea{display:inline-block;width:585px;height:50px;resize: none;line-height: 37px;padding-bottom:40px;margin:0 0 20px 0;
  background:url(../images/23/popup/line_image.png) no-repeat 0 30px;background-size: 585px 40px;font-size:14px;font-family: 'Nanum Gothic';}

/* sliderNum_2 */
/* slider_btn */
.slider_thumbnail_area {overflow: hidden; position: relative; bottom:0; left: 50%; margin-left: -100px; width:200px; height:75px;}
.slider_thumbnail_area ul {text-align: center;width:74px; position: absolute; bottom:0;left:50%;margin-left:-37px;}
.slider_thumbnail_area ul li {width: 20px; height: 20px;  border-radius: 15px; background: url(../images/09/rol_p09_off.png) no-repeat 0 0;background-size:20px 20px; text-indent: -9999px; margin: 0 5px;cursor: pointer;display: inline-block;}
.slider_area .slider_thumbnail_area ul li.on { background: url(../images/09/rol_p09_on.png) no-repeat 0 0; background-size:20px 20px;}
.slider_thumbnail_area ul li:last-child { margin-right: 10px;}
