@charset "utf-8";
/* CSS Document */
.bo {
    position: absolute; top:0; left:0;
    padding-top:24px; background: #fff url(../images/23/bo_bg.png) no-repeat 0 0; background-size: cover;}
.bo h1.bs_page_tit img{ margin-left:60px; margin-top:33px;}

button.btn_close{}

.bo_wrap{position: relative; background-color:#f5f9fd;margin-top:55px;border-radius:18px;padding:25px 20px 45px 20px;  font-family: 'Nanum Gothic'; font-size: 15px; font-weight: 500;}
.bo_wrap .subtit_wrap{overflow:hidden;}
.bo_wrap .subtit_wrap img,
.bo_wrap .subtit_wrap p{float:left; margin-right: 10px;font-weight: 600; }
.bo_wrap .subtit_wrap img{margin-right:10px;}

.bo_5 .bo_wrap{height: 150px;}
ul.bo_Q_5{padding-left: 32px;position:relative;}
ul.bo_Q_5 li{line-height: 15px;}
input[type="radio"] + label{font-size:15px;padding:10px; margin:0;}
input[type="radio"] + label::before{display: none;}
input[type="radio"]:checked + label{color:red;}

.answer_check{width:50px; height:30px; background:url("../images/23/dfs.png") no-repeat;background-size:cover; position: absolute;}
.bo_5 .answer_check#a5_c_1{top: 55px; left:126px;}
.bo_5 .answer_check#a5_c_2{top:90px; left:220px;}
.bo_5 .answer_check#a5_c_3{top:125px; left:90px;}
.bo_5 .answer_check#a5_c_4{top:160px; left:75px;}
