@charset "utf-8";

/* 배경 */
.intro_word {background: url(../images/dictionary/bg_dictionary.jpg) no-repeat 0 0; background-size: cover; position: absolute; width: 768px;
    height: 1024px; z-index: 10}
.header_tit {position: absolute; display: block; top: 50px; content: url("../images/dictionary/title_word.png");}
.close_icon {position: absolute; display: block; top: 20px; left: 720px;}

#flashcard {position: absolute; display: block; width: 300px; height: 150px; border-radius: 15px; top: 280px; left: 420px; background: #ffffff;}
#flashcard_example {position: absolute; display: block; width: 300px; height: 80px; border-radius: 15px; top: 480px; left: 420px; background: #ffffff;}

.word.btn_mp3_a {position: absolute; display: block; float:left; width: 25px; height: 25px; top: 280px; left: 380px; background-size: cover;}

/* 단어 리스트 */
.word_list {position: absolute; display: block; width: 280px; height: 370px; border-radius: 15px; top: 280px; left: 50px; background: #ffffff; overflow: auto;}
#words span {display: block; padding: 10px 30px 10px 40px; font-size: 20px}

/* 단어 */
#word {text-align: center; margin-top: 12%; font-size: 40px; color: #b57d43;}
#word_meaning {text-align: center; margin-top: 70px;}
#description {text-align: center; margin-top: 9%; font-size: 15px; width: 300px; height: 80px;}
#description2 {text-align: center;}

.dic_head{position:relative;overflow:hidden;width:667px; height:60px;background-color:gray;border-radius:20px; margin-top:100px; box-sizing:border-box;}
.word_catagory_list,
.lesson_btn_list{float:left;height:75px;box-sizing:border-box;}
.word_catagory_list{
    line-height:60px;
    width:25%;
    background-color:#8a5d2f;
    color:white;
}
.word_catagory_list li{
    float: left;
    margin-right: 20px;
    font-size:22px;
    padding-left:61px;
    font-weight:bold;
}
.lesson_btn_list{
    line-height:60px;
    width:75%;
    background-color:#996633;
    padding-left:20px;
}
.lesson_btn_list li {
    text-align: center;
    float: left;
    margin-right: 20px;
    margin-top:18px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 20px;
    background-color: #FF6;
    color:#630;
    font-weight:bold;
}
.lesson_btn_list li:first-child {
    float: left;
    margin-right: 20px;
    width: 40px;
    height: 25px;
    border-radius: 10px;
}
.alp_btn_list{
    position: absolute;
    top: 200px;
    left: 200px;
}
.alp_btn_list li{
    float: left;
    margin-right: 10px;
}
.lesson_btn_list li.on, .alp_btn_list li.on{
    background-color: white;
}
input[type=checkbox], input[type=radio] {
    display: inline-block;
}
.word_close_icon{
    left: 690px;
    position: absolute;
}
