/*
4지선다*/
input[type=checkbox] + label:before, input[type=radio] + label:before{
    border: none;
}
input[type=radio] + label{
    margin-right: 0px;
}
label.checkbox_1_b, label.checkbox_2_b, label.checkbox_3_b, label.checkbox_4_b, label.radio_1_b, label.radio_2_b, label.radio_3_b, label.radio_4_b{
    height: 24px;
}
input[type=checkbox].checkbox_1_b:checked, label.checkbox_1_b:before, input[type=radio].radio_1_b:checked, label.radio_1_b:before{
    background: url(../images/common/num_01.png)  no-repeat 0 0;
}
input[type=checkbox].checkbox_2_b:checked, label.checkbox_2_b:before, input[type=radio].radio_2_b:checked, label.radio_2_b:before{
    background: url(../images/common/num_02.png)  no-repeat 0 0;
}
input[type=checkbox].checkbox_3_b:checked, label.checkbox_3_b:before, input[type=radio].radio_3_b:checked, label.radio_3_b:before{
    background: url(../images/common/num_03.png)  no-repeat 0 0;
}
input[type=checkbox].checkbox_4_b:checked, label.checkbox_4_b:before, input[type=radio].radio_4_b:checked, label.radio_4_b:before{
    background: url(../images/common/num_04.png)  no-repeat 0 0;
}