.role_play {position: absolute; width:768px; height:1024px; top:0; z-index: 99999999999; background: #fff}

.role_play h1 {height:56px; line-height: 56px; background: #ebf6ef; text-align: left; font-size: 20px; font-family: "Fredoka One"; color: #2aa4be; padding-left:35px}

/*player_img*/
.player_img {text-align: center; padding:20px 0 }
.player_img span{display: inline-block;width:115px; height:99px; margin:0 10px; cursor: pointer}
.player01 { background:url(../images/role_play/player01.png)}
.player02 { background:url(../images/role_play/player02.png)}
.player03 { background:url(../images/role_play/player03.png)}
.player04 { background:url(../images/role_play/player04.png)}
.player01.on { background:url(../images/role_play/player01_on.png)}
.player02.on { background:url(../images/role_play/player02_on.png)}
.player03.on { background:url(../images/role_play/player03_on.png)}
.player04.on { background:url(../images/role_play/player04_on.png)}

/*player_panel*/
.player_panel {position: relative; font: 18px/ 1.7 'Faustina'; background: #faf9f2; padding: 45px 0 45px 114px; letter-spacing: 0.5px;}
.player_panel li {margin-bottom:10px;  height: 50px;}
.interpret {display: none; margin-left:25px; font: 16px 'Nanum Gothic'; color:#349a01}

/*player_controller*/
.player_controller {position: relative; height: 60px;  line-height: 60px; background: #ebf6ef; padding-left:60px;}
.select_player {display: inline-block; height:25px;  line-height:25px}
.select_player input[type=checkbox] + label{position: relative; top:7px}
.select_player span{ font-weight: 700; font-size: 16px;}
.select_player input[type=checkbox] + label {margin-right: 0; }


/*플레이버튼*/
.btn_wrap {display: inline-block; height:21px;  line-height:21px}
.btn_rplay {width:19px; height:21px; background:url(../images/role_play/btn_play.png) no-repeat 0 0; margin-left:35px}
.btn_rstop {width:19px; height:21px; background:url(../images/role_play/btn_stop.png) no-repeat 0 0; margin-left:12px}
.btn_rpause {width:19px; height:21px; background:url(../images/role_play/btn_pause.png) no-repeat 0 0; margin-left:35px}
.progress_rbar {width:385px; height:21px; background:url(../images/role_play/progressbar.png) no-repeat 0 0; margin: 0px 15px;}
.trans_off {width:40px; height:25px; background:url(../images/role_play/trans_off.png) no-repeat 0 0 }
.trans_on {width:40px; height:25px; background:url(../images/role_play/trans_on.png) no-repeat 0 0 }
.controll_rbar {position: absolute;top: 27px; left: 275px; display: block; width:10px ; height:10px ;background:url(../images/role_play/ctrbar.png) no-repeat 0 0}

.btn_close { position: absolute; right:22px; top: 17px; cursor: pointer; width: 22px;  height: 22px;}
