@charset "utf-8";
/* CSS Document */

.sim h1.bs_page_tit img{margin-left:60px;margin-top: 33px;}

.sim {
    position: absolute; top:0; left:0;
    padding-top:24px; background: #fff url(../images/23/sim_bg.png) no-repeat 0 0; background-size: cover; }

button.btn_close{}

.sim_wrap{position: relative; background-color:#faf7f4;margin-top:55px;border-radius:18px;padding:25px 20px 45px 20px;  font-family: 'Nanum Gothic'; font-size: 15px; font-weight: 500;}
.sim_wrap .subtit_wrap{overflow:hidden;}
.sim_wrap .subtit_wrap img,
.sim_wrap .subtit_wrap p{float:left; margin-right: 10px;font-weight: 600;}
.sim_wrap .subtit_wrap img{margin-right:10px;}


.sim_4 .sim_wrap{height:370px;}
ul.sim_4_A{padding-left: 34px;margin-top: 20px;}
ul.sim_4_A li{}
ul.sim_4_A li input{border-bottom:1px solid black;margin:10px 0 32px 5px; width:320px;font-family: 'Nanum Gothic'; font-size: 15px;text-align: left;padding-left: 5px;}
ul.sim_4_A li span::after{content:"";display:inline-block;width:17px;height:22px;background:url('../images/23/0001.png') no-repeat;background-size:contain;margin-left:19px;}
input[type='text']#sim_4_1{}
input[type='text']#sim_4_2{}
input[type='text']#sim_4_3{}
input[type='text']#sim_4_4{}
.sentence{font-family: 'Nanum Gothic'; font-size: 15px;color:red;position: absolute;}
#sentence1{top:125px;left:98px;}
#sentence2{top:212px;left:98px;}
#sentence3{top:300px;left:98px;}
#sentence4{top:387px;left:98px;}
