.slider_area{margin-top:20px;}
.slider_area .slider_content{position: relative;}
.slider_area .slide_content {
    position: relative;
}
.slider_area .slider_image_wrap {
    position: relative;
    width: 540px;
    height: 284px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}
.slider_area .slider_image_wrap img {
    width: 70%;
    height: 59%;
}
.slider_area .slider_image_wrap p {
    padding:10px 0;
    text-align:center;
}

.slider_area .slider_image_wrap .slider_image {
    display: inline-block;
    width:540px;
}
.slider_area .slider_image_wrap .slider_image li {
    display: none;
    width:540px;
    height:430px;
}
.slider_area .slider_image_wrap .slider_image li.on{
    display : block;
}
.slider_area .slider_thumbnail_area {
    position: relative;
    top: 10px;
    margin: 0 auto;
    width: 540px;
    height: 50px;
    overflow: hidden;
    margin:0
}
.slider_area .slider_thumbnail_area ul {
    text-align: center;    position: relative;
    top: 6px;
}
.slider_area .slider_thumbnail_area ul li {
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background: #fff;
    display: inline-block;
    text-indent: -9999px;
    cursor: pointer;
    margin: 0 5px;
}
.slider_thumbnail_area {
    position: relative;
    top: 35px;
    margin: 0 auto;
    width: 640px;
    height: 92px;
    overflow: hidden;
}
.slider_thumbnail_area ul {
    text-align: center;
}

.slider_thumbnail_area ul li {
    display: inline-block;
    margin-right: 10px;
}
.slider_area .slider_thumbnail_area ul li.on {
    background: #ebff43;
}
.slider_thumbnail_area ul li:last-child {
    margin-right: 10px;
}
.slider_thumbnail_area ul li > img {
    width: 133px;
    height: 83px;
}
.slider_thumbnail {
    margin-left: 9px;
}
.slider_thumbnail >li {
    cursor: pointer;
}
.slider_thumbnail >li > img {
    border: 5px solid #D0D0D0;
}