/*FONT*/
@font-face {font-family: 'Bubblegum Sans';font-style: normal;font-weight: 400;src: url(../fonts/BubblegumSans/BubblegumSans-Regular.woff) format('woff');}
@font-face {font-family: 'Fredoka One';font-style: normal;font-weight: 400;src: url(../fonts/Faustina/Faustina-Regular.woff) format('woff');}
@font-face {font-family: 'Fredoka One';font-style: normal;font-weight: 400;src: url(../fonts/Faustina/Faustina-Bold.woff) format('woff');}
@font-face {font-family: 'Fredoka One';font-style: normal;font-weight: 400;src: url(../fonts/FredokaOne/FredokaOne-Regular.woff) format('woff');}
@font-face {font-family: 'Nanum Gothic';font-style: normal;font-weight: 400;src: url(../fonts/NanumGothic/NanumGothic-Regular.woff) format('woff');}
@font-face {font-family: 'Nanum Gothic';font-style: normal;font-weight: 700;src: url(../fonts/NanumGothic/NanumGothic-Bold.woff) format('woff');}
@font-face {font-family: 'Nanum Gothic';font-style: normal;font-weight: 400;src: url(../fonts/NanumMyeongjo/NanumMyeongjo-ExtraBold.woff) format('woff');}
@font-face {font-family: 'Nanum Gothic';font-style: normal;font-weight: 700;src: url(../fonts/NanumMyeongjo/NanumMyeongjo-Regular.woff) format('woff');}
@font-face {font-family: 'Nanum Gothic';font-style: normal;font-weight: 700;src: url(../fonts/NanumPen/NanumPen-Regular.woff) format('woff');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(../fonts/NotoSansKR/NotoSansKR-Regular.woff) format('woff');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(../fonts/NotoSansKR/NotoSansKR-Bold.woff) format('woff');}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 400;src: url(../fonts/OpenSans/OpenSans-Regular.woff) format('woff');}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 700;src: url(../fonts/OpenSans/OpenSans-Bold.woff) format('woff');}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 700;src: url(../fonts/PatrickHand/PatrickHand-Regular.woff) format('woff');}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 700;src: url(../fonts/Roboto/Roboto-Bold.woff) format('woff');}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 700;src: url(../fonts/SangSangAnt/SangSangAnt.woff) format('woff');}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 700;src: url(../fonts/Wellfleet/Wellfleet-Regular.woff) format('woff');}


















