/*1. 동영상 진행바 컨트롤러*/

.progController { position:absolute; left:10px; top:10px; width:173px;}
#prog_play{ position:absolute; left:285px; top:12px; cursor:pointer;}
#prog_stop{ position:absolute; left:320px; top:12px; cursor:pointer;}

/* 볼 */
#prog_gray{	position:absolute; left:370px; top:12px; width:173px; height:10px;	z-index:1;}
#prog_color{ position:absolute; left:370px; top:12px; width:173px; height:20px; overflow:hidden; z-index:2;}
#prog_mouse{ position:absolute; left:370px; top:12px; width:173px; height:10px; cursor:pointer; z-index:3; opacity:0;}
#prog_mouse > img, #prog_color > img, #prog_gray > img{width: 173px;}
#prog_ball{	position:absolute; top:12px; width:20px; height:20px;	cursor:pointer; z-index:4; left: 200px;}

/*자막, 대본*/
#prog_cap{	position:absolute; left:570px; top:12px; z-index:3; cursor:pointer;}
#prog_cap2{	position:absolute; left:590px; top:12px; z-index:3; cursor:pointer;}
#prog_sct{	position:absolute; left:660px; top:12px; z-index:3; cursor:pointer;}


/*동영상 시간*/
.prog_pos{	position:absolute; left: 370px; top:25px; width:60px; height:50px; overflow:hidden; }
.prog_dur{	position:absolute; left:430px; top:25px; width:60px; height:50px; overflow:hidden; }
.time_pos{	position:absolute; width:60px; }
.time_dur{	position:absolute; width:60px; }

.role_1, .role_2, .role_3{
    position: absolute;
    top: -5px;
    border: 3px solid gray;
    border-radius: 4px;
}
.role_1.on, .role_2.on, .role_3.on{
    border-color: #c9d2cb;
}
.role_1 > img, .role_2 > img, .role_3 > img{
    width: 50px;
    height: 50px;
}
.role_1{
    left: 40px;
}
.role_2{
    left: 120px;
}
.role_3{
    left: 200px;
}